<!--Copy pasted from:
    -> flask-admin package -> templates/models/modals/layout.html

    Changelog:
    10.01.2019, added `No limit` option
-->
{% macro n6_page_size_form(generator, btn_class='dropdown-toggle') %}
    <a class="{{ btn_class }}" data-toggle="dropdown" href="javascript:void(0)">
        {% if not page_size %} No Limit
        {% else %} {{ page_size }} {{ _gettext('items') }}
        {% endif %}
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ generator(20) }}">20 {{ _gettext('items') }}</a></li>
        <li><a href="{{ generator(50) }}">50 {{ _gettext('items') }}</a></li>
        <li><a href="{{ generator(100) }}">100 {{ _gettext('items') }}</a></li>
        <li><a href="{{ generator(None) }}">No Limit</a></li>
    </ul>
{% endmacro %}
