*.pyc
*.py~
*.js~
*.egg
*.sqlite
*_flymake.py

.coverage
nosetests.xml

.project
.idea
.pydevproject
.ropeproject
.settings
.dir-locals.el
.emacs.desktop
.emacs.desktop.lock

[Nn]6*.egg-info/

/N6Portal/*.ini~
/N6Portal/*_local.ini
/N6RestApi/*.ini~
/N6RestApi/*_local.ini

/N6*/build/
/N6*/dist/
/N6*/docs/build/

