include *.txt *.md *.rst requirements requirements-*
recursive-include n6lib *.conf *.ini
recursive-include n6lib/data *
recursive-include n6lib/auth_db/alembic *.py *.mako README *.txt *.md *.rst
recursive-include n6lib/tests/certs_and_requests_for_testing *
