[
   {rabbit, [
      {vm_memory_high_watermark_paging_ratio, 0.75},
      {vm_memory_high_watermark, 0.4},
      {ssl_allow_poodle_attack, true},
      {auth_mechanisms, ['EXTERNAL']},
      {loopback_users, []},
      {ssl_cert_login_from, common_name},
      {tcp_listeners, []},
      {ssl_listeners, [5671]},
      {loopback_users, []},
      {heartbeat, 6000},
      {ssl_options, [{cacertfile,"/home/dataman/certs/n6-CA/cacert.pem"},
                     {certfile,"/home/dataman/certs/cert.pem"},
                     {keyfile,"/home/dataman/certs/key.pem"},
                     {versions, ['tlsv1.2', 'tlsv1.1', tlsv1]},
                     {ciphers,  [{rsa,aes_256_cbc,sha}]},
                     {verify,verify_peer},
                     {fail_if_no_peer_cert,true}]}]},

     {rabbitmq_management, [
     {listener, [{port,     15671},
     {ssl,      true}
       ]},
     {sample_retention_policies, [{global,   [{60, 5}, {600, 5 }, {3600, 60}, {86400, 300}]},
     {basic,    [{60, 5}, {600, 5 }, {3600, 60}, {86400, 300}]},
     {detailed, [{60,5}, {600, 5}]}]}
  ]}
].
