[
  {rabbit, [
     {auth_backends, [rabbit_auth_backend_internal, rabbit_auth_backend_http]},
     {auth_mechanisms, ['EXTERNAL']},
     {loopback_users, []}]},

{rabbitmq_stomp, [
  {auth_backends, [rabbit_auth_backend_http]},
  {log, true},
  {implicit_connect, false},
  {ssl_cert_login, false},
  {ssl_listeners, [61614]},
  {tcp_listeners, []}
  ]
},

{rabbitmq_auth_backend_http,
   [{http_method,   post},
    {user_path,     "http://stream_api:80/user"},
    {vhost_path,    "http://stream_api:80/vhost"},
    {resource_path, "http://stream_api:80/resource"},
    {topic_path,    "http://stream_api:80/topic"}
  ]
}
].