// helper for content-wrapper classes in layout.scss

@mixin content-wrapper-base($sm-padding) {
  width: 100%;
  max-width: $content-max-width; //1170px + padding 15px
  margin: 0 auto;
  padding: 0 $sm-padding;
  @include media-breakpoint-up(md) {
    padding: 0 $page-padding-md;
  }
  @include media-breakpoint-up(lg) {
    padding: 0 $page-padding-lg;
  }
}

// helper for outline styling with focus-visible package

@mixin outline($color: $default-outline-color, $opacity: 1, $size: $default-outline-size) {
  outline: none;
  border: $size solid transparent !important;

  &:focus {
    outline: sizeToRem(1) dotted transparent !important;
    border: $size solid rgba($color, $opacity) !important;
  }

  .js-focus-visible &:focus:not(.focus-visible) {
    border: $size solid transparent !important;
  }
}

@mixin box-border($rounded: true) {
  border-color: $grey-light;
  border-width: 1px;
  border-style: solid;
  @if $rounded {
    border-radius: $border-radius;
  }
}
