/* colors */

$primary: #9c00f5;
$secondary: #87ab6c;
$danger: #d30000;

$dark: #202e3a;
$dark-lighter: #68747d;
$light-background: #ffffff;
$grey-background: #fafbfc;
$grey-base: #a8adc0;
$grey-light: rgba($grey-base, 0.4);

$form-basic: $dark;
$form-active: $primary;
$form-error: $danger;
$form-filled: $dark-lighter;
$form-success: green; //do potwierdzenia
$form-autocomplete: #f2e7fb;
$account-dark-stripe: #f6f7f9;

/* table colors */
$table-odd-row-color: rgba($dark-lighter, 0.08);
$table-even-row-color: rgba($dark-lighter, 0.03);
$table-odd-tooltip-color: #f3f4f5;
$table-even-tooltip-color: #fafbfb;

/* fonts */
$font-fam-headers: 'Roboto', sans-serif;
$font-fam-txt: 'Roboto', sans-serif;

$line-height: 1.5;
$line-height-headers: 1.25; // do potwierdzenia

/* spacing */
$content-max-width: sizeToRem(1920);

$page-padding-sm: 15px;
$page-padding-md: 30px;
$page-padding-lg: 30px;

/* WCAG - outline */
$default-outline-color: #5a5379;
$default-outline-size: sizeToRem(2);

/* page navigation */
$page-nav-height: sizeToRem(48);
$page-nav-mobile-height: sizeToRem(48);
$page-logo-width: sizeToRem(100);
$page-mobile-logo-width: sizeToRem(100);

/* border radius */
$border-radius: sizeToRem(5);

/* select input */
$select-button-color: rgba($form-basic, 0.5);
$select-button-text-color: $dark;
$select-button-width: sizeToRem(300);

/* tooltip */
$n6-tooltip-bg: #f3f4f5;
$n6-tooltip-box-shadow: 0px 10px 20px rgba($dark-lighter, 0.1);
$n6-tooltip-border-color: rgba($grey-base, 0.08);
