//// Transitions and animations.
////
//// Any transitions or animations implemented across the site should only use
//// the mixins/variables defined here. The purpose is to have all animations
//// looking consistent, having the same durations and timing functions.

$durations: (
  regular: 0.15s,
  long: 0.3s
);
$timing-function: ease-in-out;
$delay: 0.05s;

// Define transition for given properties. Duration is optional and requires a
// keyword name of durations defined here.
@mixin transition($transition-properties, $transition-duration-name: 'regular') {
  transition-property: $transition-properties;
  transition-duration: map-get($durations, $transition-duration-name);
  transition-timing-function: $timing-function;
}
