//// Tools that don't fall into any other category.


@mixin setup-pseudo-element($width, $height) {
  content: '';
  display: block;
  width: $width;
  height: $height;
}


// Hide text from the element.
// Used for image replacement (replace text element with an image). This
// technique uses indentation to move the text off of the screen.
@mixin hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


// Clears floats inside the container, so that the container doesn't collapse.
@mixin clearfix {
    &::after {
        content: '.';
        visibility: hidden;
        display: block;
        clear: both;
        height: 0;
    }
}
