/*** Base styles - global styles available across the whole application to all
 *** components.
 ***/

@import '~@styles/_values.scss';

html {
  font-size: 1px;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  color: $color-text-primary;
  background-color: $color-background-primary;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: $font-size-medium;
}

a,
button {
  &:hover {
    cursor: pointer;
  }
}

@mixin EditedInputGradient {
    @include transition(box-shadow, 'long');
    -webkit-box-shadow: inset 10px -14px 30px 3px rgba(255, 249, 0, 0.49);
    -moz-box-shadow: inset 10px -14px 30px 3px rgba(255, 249, 0, 0.49);
    box-shadow: inset 10px -14px 30px 3px rgba(255, 249, 0, 0.49);
}

@mixin InactiveInputGradient {
    @include transition(box-shadow, 'long');
    -webkit-box-shadow: inset 10px -14px 30px 3px rgb(223, 216, 232);
    -moz-box-shadow: inset 10px -14px 30px 3px rgb(223, 216, 232);
    box-shadow: inset 10px -14px 30px 3px rgb(223, 216, 232);
}

@mixin DeletedInputGradient {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 39%, rgba(237,237,237,1) 79%, rgba(218,218,218,1) 100%);
}
