/*** Custom fonts import
 ***/

/* Lato */

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('~@fonts/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('~@fonts/lato/Lato-Bold.ttf');
}
