// Based on styles from: https://github.com/Akryum/v-tooltip#style-examples

@import '~@styles/_values.scss';

$text-color: $color-white;
$background-color: $color-grey-extra-dark;
$arrow-size: 5px;
$arrow-offset: 2px;

.tooltip {
  display: block !important;
  z-index: $z-index-tooltip;

  &.error {
    .tooltip-inner {
      background-color: $color-red-light;
    }

    .tooltip-arrow {
      border-color: $color-red-light;
    }
  }

  .tooltip-inner {
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    padding: $padding-extra-small;
  }

  .tooltip-messages--single {
    /* No styles here so far */
  }

  .tooltip-messages--multiple {
    $padding: $padding-extra-small;

    list-style: circle;
    padding-left: 15px;
    padding-right: 6px;
  }

  .tooltip-message {
    & + .tooltip-message {
      margin-top: $margin-extra-extra-small;
    }
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: $arrow-size;
    border-color: $background-color;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: $arrow-size + $arrow-offset;

    .tooltip-arrow {
      border-width: $arrow-size $arrow-size 0 $arrow-size;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -1 * $arrow-size;
      left: calc(50% - #{$arrow-size});
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: $arrow-size + $arrow-offset;

    .tooltip-arrow {
      border-width: 0 $arrow-size $arrow-size $arrow-size;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -1 * $arrow-size;
      left: calc(50% - #{$arrow-size});
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: $arrow-size + $arrow-offset;

    .tooltip-arrow {
      border-width: $arrow-size $arrow-size $arrow-size 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -1 * $arrow-size;
      top: calc(50% - #{$arrow-size});
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: $arrow-size + $arrow-offset;

    .tooltip-arrow {
      border-width: $arrow-size 0 $arrow-size $arrow-size;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -1 * $arrow-size;
      top: calc(50% - #{$arrow-size});
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
