{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-3"
  ],
  "plugins": [
    "lodash",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-3"],
      "plugins": ["istanbul"]
    }
  }
}
