[ ca ]
default_ca                      = serviceCA

[ serviceCA ]
dir                             = .
certificate                     = $dir/ca-cert-n6-service-ca.pem
database                        = $dir/index.txt
new_certs_dir                   = $dir/tmp-certs
private_key                     = $dir/ca-key-n6-service-ca.pem
serial                          = $dir/next-serial.txt

default_crl_days                = 365
default_days                    = 365
default_md                      = sha256

unique_subject                  = no
policy                          = inner_serviceCA_policy
x509_extensions                 = certificate_extensions

[ inner_serviceCA_policy ]
commonName                      = supplied
organizationName                = supplied
organizationalUnitName          = supplied

[ server_component_serviceCA_policy ]
commonName                      = supplied
organizationName                = match
organizationalUnitName          = match

[ certificate_extensions ]
basicConstraints                = CA:false
keyUsage                        = nonRepudiation, digitalSignature, keyEncipherment, keyAgreement
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid,issuer
